---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<'product'>['data'];

const { title, description, pubDate, heroImage, price, category } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
</head>
<body>
    <main class="container  mx-auto p-4 prose">
        <h2>{title}</h2>
        <span>{pubDate}</span>
        <span>{price}</span>
        <slot/>
    </main>
</body>
</html>